In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd
import statistics

In [2]:
url = "https://www.akc.org/dog-breeds/golden-retriever/"

In [3]:
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
retreiver = soup.find('div', class_='panel-flex__aside')

In [6]:
attributes = []
for list_ in retreiver.ul:
    for attr in list_:
        try:
            attributes.append(attr.text.strip())
        except:
            attributes.append(attr.strip())

In [7]:
attributes  = [a for a in attributes if a is not '']

In [8]:
print(attributes)

['Temperament:', 'Friendly, Intelligent, Devoted', 'AKC Breed Popularity:', 'Ranks 3 of 193', 'Height:', '23-24 inches (male), 21.5-22.5 inches (female)', 'Weight:', '65-75 pounds (male), 55-65 pounds (female)', 'Life Expectancy:', '10-12 years', 'Group:', 'Sporting Group', 'The AKC has grouped all of the breeds that it registers into seven categories, or groups, roughly based on function and heritage. Breeds are grouped together because they share traits of form and function or a common heritage.']

In [9]:
keys = [a for a in attributes if attributes.index(a) % 2 == 0]
values = [a for a in attributes if attributes.index(a) % 2 != 0]
dictionary = dict(zip(keys, values))

In [10]:
print(dictionary)

{'Temperament:': 'Friendly, Intelligent, Devoted', 'AKC Breed Popularity:': 'Ranks 3 of 193', 'Height:': '23-24 inches (male), 21.5-22.5 inches (female)', 'Weight:': '65-75 pounds (male), 55-65 pounds (female)', 'Life Expectancy:': '10-12 years', 'Group:': 'Sporting Group'}

In [11]:
data = [dictionary]

dog_df = pd.DataFrame(data)

In [12]:
dog_df

,AKC Breed Popularity:,Group:,Height:,Life Expectancy:,Temperament:,Weight:
0,Ranks 3 of 193,Sporting Group,"23-24 inches (male), 21.5-22.5 inches (female)",10-12 years,"Friendly, Intelligent, Devoted","65-75 pounds (male), 55-65 pounds (female)"

In [13]:
dog_df['life_expectancy_low'] = int(dog_df['Life Expectancy:'].str.split(' ')[0][0].split('-')[0])
dog_df['life_expectancy_high'] = int(dog_df['Life Expectancy:'].str.split(' ')[0][0].split('-')[1])

In [14]:
dog_df['avg_life_expectancy'] = dog_df[['life_expectancy_low', 'life_expectancy_high']].mean(axis=1)

In [15]:
dog_df['weight_male'] = dog_df['Weight:'].str.split(',')[0][0]
dog_df['weight_female'] = dog_df['Weight:'].str.split(',')[0][1]

In [16]:
dog_df['weight_male_low'] = int(dog_df['weight_male'].str.split(' ')[0][0].split('-')[0])
dog_df['weight_male_high'] = int(dog_df['weight_male'].str.split(' ')[0][0].split('-')[1])

In [17]:
dog_df['weight_female_low'] = int(dog_df['weight_female'].str.split(' ')[0][1].split('-')[0])
dog_df['weight_female_high'] = int(dog_df['weight_female'].str.split(' ')[0][1].split('-')[1])

In [18]:
dog_df['avg_weight_male_lbs'] = dog_df[['weight_male_low', 'weight_male_high']].mean(axis=1)
dog_df['avg_weight_female_lbs'] = dog_df[['weight_female_low', 'weight_female_high']].mean(axis=1)

In [19]:
dog_df['height_male'] = dog_df['Height:'].str.split(',')[0][0]
dog_df['height_female'] = dog_df['Height:'].str.split(',')[0][1]

In [20]:
dog_df['height_male_low'] = int(dog_df['height_male'].str.split(' ')[0][0].split('-')[0])
dog_df['height_male_high'] = int(dog_df['height_male'].str.split(' ')[0][0].split('-')[1])

In [21]:
dog_df['height_female_low'] = float(dog_df['height_female'].str.split(' ')[0][1].split('-')[0])
dog_df['height_female_high'] = float(dog_df['height_female'].str.split(' ')[0][1].split('-')[1])

In [22]:
dog_df['avg_height_male_in'] = dog_df[['height_male_low', 'height_male_high']].mean(axis=1)
dog_df['avg_height_female_in'] = dog_df[['height_female_low', 'height_female_high']].mean(axis=1)

In [23]:
dog_df['rank'] = int(dog_df['AKC Breed Popularity:'].str.split(' ')[0][1])

In [26]:
doggy_df = dog_df[['rank','Group:', 'Temperament:', 'avg_life_expectancy', 'avg_height_male_in', 'avg_height_female_in', 'avg_weight_male_lbs', 'avg_weight_female_lbs']]

In [28]:
doggy_df.rename(columns={'Group:':'group', 'Temprament:':'temprament'})

,rank,group,Temperament:,avg_life_expectancy,avg_height_male_in,avg_height_female_in,avg_weight_male_lbs,avg_weight_female_lbs
0,3,Sporting Group,"Friendly, Intelligent, Devoted",11.0,23.5,22.0,70.0,60.0